APP_ENV=
APP_PORT=
APP_NAME=user-service

DB_DSN=
DB_MAX_OPEN_CONNS=
DB_MAX_IDLE_CONNS=

REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=

RABBITMQ_URL=
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE_USER_CREATED=
RABBITMQ_DLQ_USER_CREATED=
RABBITMQ_MAX_RETRY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=
CLOUDINARY_MAX_FILE_SIZE_MB=

INTERNAL_TOKEN=